*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    max-width:100%;
    width:100%;
    background-color:#f0f0f0;
    font-size: large;
    font-family: 'Vazirmatn', sans-serif;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #ddd;
}
nav{
    padding: 5px;
}
nav ul{
    display:flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    list-style-type: none;
}
nav ul li a{
}
button{
    margin-right: 40px;
    width: 80px;
    height: 40px;
}
img{
    margin-left: 40px;
    width:50px;
    height:50px;
    border-radius: 50%;
}